.banniere-size{
    height: 233px;
}
.font-banniere{
    position: absolute;
    font-size: 70px;
    font-family: "Ebrima";
    left: 20px;
    font-weight: bold;
}
.font-banniere-small{
    position: absolute;
    font-size: 40px;
    font-family: "Ebrima";
    left: 20px;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .font-banniere{
        position: absolute;
        font-size: 60px;
        font-family: "Ebrima";
        left: 20px;
        font-weight: bold;
    }
    .font-banniere-small{
        position: absolute;
        font-size: 30px;
        font-family: "Ebrima";
        left: 20px;
        font-weight: bold;
    }
}