.image-logo{
    height: 50px;
    width: 50px;
}

.link-style{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.link-style:active {
    color: #e7cc57;
}
.link-style:hover {
    color: #e7cc57;
}
.navbar-style{
    display: inline;
}